body{
    min-width: 400px;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    font-family: "Papyrus", Fantasy;
    
}
#Hangman{
display: flex;
flex-direction: row;
justify-content: center;

}
h1{
    font-size: 3rem;
    margin: 0.5rem;
    color: brown;
    text-shadow: 5px 5px 5px orange;
    text-decoration: underline ;
}
#gameelements{
    display: flex;
    flex-direction: row;
}
#playingArea{

    display:flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    margin: 5px;
}
#gallowsV{
    background-color: papayawhip;
    
    /* min-width: 300px; */
   width: 100%;
    min-height: 300px;
    max-height: 800px;
    stroke: brown;
    fill: brown;
    stroke-width: 10;
    border: 5px solid brown;
}
.character{
    display: flex;
    font-size: 3rem;
    width:3rem;
    justify-content: center;

}

#utilityButtons{
display:flex;
flex-direction: row;
justify-content: center;
margin: 0.5rem;
}



#lives{
    display: flex;
    flex-direction: row;
    font-family: "Papyrus", Fantasy;
    font-size: 1.5rem;
  justify-content: center;
 }
 
#input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#alphabetArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}
.alphabetButtons{

 background-color: lightseagreen;
 border:0.25rem solid black;
 margin: 0.05rem;
 height: 3rem;
 width: 3rem;
 font-size: 1.5rem;
 align-content: center;
}
.alphabetButtons:disabled{
    background-color: grey;
}
#GUI{
    min-width: 300px;
}
#guessDisplay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border: solid black 0.25rem;
    margin-left: 0.5rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;

}
#reset{
    background-color: lightseagreen;
    border:0.25rem solid black;
    margin: 0.05rem;
    height: 3rem;
    width: 10rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 600px){
#playingArea{
 display:flex;
    flex-direction: column;
}
body{
    display:flex;
    flex-direction: column;
}
#gallowsV{
    max-height: 180px;
}
#gameelements{
    flex-direction: column;
}
}

@media (prefers-color-scheme: dark) {
    body  { background:  black; color: white; }
    .alphabetButtons{ border:0.25rem solid lightgray; background: darkblue; color: white;}
    #reset{ border:0.25rem solid lightgray; background: darkblue; color: white;}
    .character {color:white}
    #livesDisplay{color:white}
    h1{color: orange;  text-shadow: 5px 5px 5px brown;
    }

}
  
  @media (prefers-color-scheme: light) {
    body  { background: white; color:  #555; }
    
  }
