.character{
    background-color: lightblue;
    font-size: 3em;
    margin: 1em;

}

#playingArea{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;

}

#alphabetArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.alphabetButtons{
 background-color: red;   
}

#guessDisplay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}