.character{
    display: flex;
    font-size: 3em;
    width:3rem;
    justify-content: center;

}

#playingArea{

    display:flex;
    flex-direction: row;
    justify-content: center;

}
#input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
canvas{
    border: 0.25rem groove;
    margin: 0.25rem;
    
}
#alphabetArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.alphabetButtons{
 background-color: lightseagreen;
 border:0.25rem solid black;
 margin: 0.05rem;
 height: 3rem;
 width: 3rem;
 font-size: 1.5rem;
}
.alphabetButtons:disabled{
    background-color: grey;
}

#guessDisplay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border: solid black 0.25rem;
    margin-bottom: 0.25rem;

}
#reset{
    background-color: lightseagreen;
    border:0.25rem solid black;
    margin: 0.05rem;
    height: 3rem;
    width: 10rem;
    font-size: 1.5rem;
}



@media screen and (max-width: 800px){

#playingArea{
    flex-direction: column;
}
}